<h1>Livros</h1>

{% if livros %}

    {% for livro in livros %}

        <p>Título: {{ livro[1] }}</p>
        <p>Autor: {{ livro[2] }}</p>
        <p>Ano: {{ livro[3] }}</p>
        <p>Disponibilidade: {{ livro[4] }}</p>
        <a href="{{ url_for('editar_livro', id_livro=livro[0]) }}">Editar Livro</a>
        <hr>

    {% endfor %}

{% else %}

    <p>Sem livros.</p>

{% endif %}

<a href="{{ url_for('cadastrar_livro') }}">Cadastrar Livro</a>
<a href="{{ url_for('remover') }}">Remover Livro</a>
